/**
 * Customizer RTL.
 */
/* Header Builder */
.emoza-ehfb {
  right: auto;
  left: 0;
}

.emoza-ehfb .emoza-ehfb-devices {
  left: auto;
  right: 0;
}

.emoza-ehfb .emoza-ehfb-mobile .ehfb-offcanvas {
  margin-left: 15px;
  margin-right: 0;
}

.emoza-ehfb
  .emoza-ehfb-mobile
  .ehfb-offcanvas
  .ehfb-offcanvas-settings
  .settings,
.emoza-ehfb
  .emoza-ehfb-rows-wrapper
  .emoza-ehfb-row
  .emoza-ehfb-row-controls
  .settings {
  margin-left: 6px;
  margin-right: 0;
}

.emoza-ehfb
  .emoza-ehfb-rows-wrapper
  .emoza-ehfb-row
  .ehfb-button
  i.ehfb-edit-element {
  margin-left: 0;
  margin-right: 2px;
}

.emoza-ehfb
  .emoza-ehfb-rows-wrapper
  .emoza-ehfb-row
  .emoza-ehfb-area
  + .emoza-ehfb-area {
  border-right: 0;
  border-left: 1px dashed #1e1e1e;
}

.emoza-to-widget-area-link .dashicons-arrow-right-alt2:before,
.ehfb-available-columns-items-wrapper .dashicons-arrow-right-alt2:before {
  content: "\f341";
}

/* Display Conditions control */
.customize-pane-parent > li.control-section .accordion-section-title:before {
  margin-left: 4px;
  margin-right: -4px;
}

.emoza-display-conditions-select2-type .select2-selection:before {
  left: auto;
  right: 6px;
}

.emoza-display-conditions-select2-type
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  padding-right: 25px;
  padding-left: 20px;
}

.emoza-display-conditions-select2-groupped {
  margin-left: 0;
  margin-right: 10px;
}

/* Slider control */
.range-slider__unit {
  right: auto;
  left: 10px;
}

.range-slider__value {
  direction: ltr;
  padding: 7px 12px 7px 25px !important;
}

.customize-control input[type="range"] {
  direction: ltr;
  margin-right: 0;
  margin-left: 10px;
}

/* Accordion control */
.emoza-accordion-title:after {
  right: auto;
  left: 20px;
}

/* Toggle control */
.toggle-switch {
  float: left;
}

/* Repeater control */
.customize-control-sortable-repeater-delete,
.repeater .dashicons-menu {
  margin: 0 -1px 0 0;
}

/* Custom Sidebars control */
.emoza-custom-sidebar-icon {
  border-left: 0;
  border-right: 1px solid #ccc;
}

.woocommerce-cropping-control {
  margin-right: 0;
}
