/**
 * Header/Footer Builder
 * Front End
 */
.ehfb-desktop,
.ehfb-mobile {
  position: relative;
}

.ehfb-desktop {
  display: none;
  z-index: 999;
}

.ehfb-footer {
  display: block;
  z-index: 997;
}

@media (min-width: 1025px) {
  .ehfb-desktop {
    display: block;
  }
  .ehfb-mobile {
    display: none;
  }
}

.ehfb-above_header_row,
.ehfb-main_header_row,
.ehfb-below_header_row {
  display: flex;
  transition:
    ease background-color 300ms,
    ease border-bottom-color 300ms,
    ease height 300ms;
}

.ehfb-main_header_row {
  min-height: 100px;
}

.ehfb-below_footer_row {
  background-color: #f5f5f5;
  min-height: 100px;
}

.ehfb-row {
  display: grid;
  grid-auto-flow: column;
  gap: 0;
  overflow-wrap: anywhere;
  height: 100%;
}
.ehfb-row.ehfb-cols-1 {
  grid-template-columns: 1fr;
}
.ehfb-row.ehfb-cols-1 .ehfb-column-1 {
  justify-content: flex-end;
}
.ehfb-row.ehfb-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.ehfb-row.ehfb-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.ehfb-row.ehfb-cols-3 .ehfb-column-2 {
  justify-content: center;
}
.ehfb-row.ehfb-cols-3 .ehfb-column-3 {
  justify-content: flex-end;
}
.ehfb-row.ehfb-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.ehfb-row.ehfb-cols-5 {
  grid-template-columns: repeat(5, 1fr);
}
.ehfb-row.ehfb-cols-6 {
  grid-template-columns: repeat(6, 1fr);
}
.ehfb-row.ehfb-cols-valign-top {
  align-items: flex-start;
}
.ehfb-row.ehfb-cols-valign-middle {
  align-items: center;
}
.ehfb-row.ehfb-cols-valign-bottom {
  align-items: flex-end;
}
.ehfb-row.ehfb-cols-layout-bigleft.ehfb-cols-2 {
  grid-template-columns: 3fr 1fr;
}
.ehfb-row.ehfb-cols-layout-bigleft.ehfb-cols-3 {
  grid-template-columns: 3fr 1fr 1fr;
}
.ehfb-row.ehfb-cols-layout-bigleft.ehfb-cols-4 {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}
.ehfb-row.ehfb-cols-layout-bigright.ehfb-cols-2 {
  grid-template-columns: 1fr 3fr;
}
.ehfb-row.ehfb-cols-layout-bigright.ehfb-cols-3 {
  grid-template-columns: 1fr 1fr 3fr;
}
.ehfb-row.ehfb-cols-layout-bigright.ehfb-cols-4 {
  grid-template-columns: 1fr 1fr 1fr 2fr;
}

@media (min-width: 1025px) {
  .ehfb-row.ehfb-cols-layout-equal-desktop.ehfb-cols-1 {
    grid-template-columns: 1fr;
  }
  .ehfb-row.ehfb-cols-layout-equal-desktop.ehfb-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .ehfb-row.ehfb-cols-layout-equal-desktop.ehfb-cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .ehfb-row.ehfb-cols-layout-equal-desktop.ehfb-cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .ehfb-row.ehfb-cols-layout-equal-desktop.ehfb-cols-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .ehfb-row.ehfb-cols-layout-equal-desktop.ehfb-cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .ehfb-row.ehfb-cols-layout-fluid-desktop.ehfb-cols-3 {
    grid-template-columns: repeat(3, auto);
  }
  .ehfb-row.ehfb-cols-layout-bigleft-desktop.ehfb-cols-2 {
    grid-template-columns: 3fr 1fr;
  }
  .ehfb-row.ehfb-cols-layout-bigleft-desktop.ehfb-cols-3 {
    grid-template-columns: 3fr 1fr 1fr;
  }
  .ehfb-row.ehfb-cols-layout-bigleft-desktop.ehfb-cols-4 {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
  .ehfb-row.ehfb-cols-layout-bigright-desktop.ehfb-cols-2 {
    grid-template-columns: 1fr 3fr;
  }
  .ehfb-row.ehfb-cols-layout-bigright-desktop.ehfb-cols-3 {
    grid-template-columns: 1fr 1fr 3fr;
  }
  .ehfb-row.ehfb-cols-layout-bigright-desktop.ehfb-cols-4 {
    grid-template-columns: 1fr 1fr 1fr 2fr;
  }
}

@media (max-width: 1024px) {
  .ehfb-row.ehfb-cols-layout-equal-tablet.ehfb-cols-1 {
    grid-template-columns: 1fr;
  }
  .ehfb-row.ehfb-cols-layout-equal-tablet.ehfb-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .ehfb-row.ehfb-cols-layout-equal-tablet.ehfb-cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .ehfb-row.ehfb-cols-layout-equal-tablet.ehfb-cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .ehfb-row.ehfb-cols-layout-equal-tablet.ehfb-cols-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .ehfb-row.ehfb-cols-layout-equal-tablet.ehfb-cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .ehfb-row.ehfb-cols-layout-fluid-tablet.ehfb-cols-3 {
    grid-template-columns: repeat(3, auto);
  }
  .ehfb-row.ehfb-cols-layout-bigleft-tablet.ehfb-cols-2 {
    grid-template-columns: 3fr 1fr;
  }
  .ehfb-row.ehfb-cols-layout-bigleft-tablet.ehfb-cols-3 {
    grid-template-columns: 3fr 1fr 1fr;
  }
  .ehfb-row.ehfb-cols-layout-bigleft-tablet.ehfb-cols-4 {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
  .ehfb-row.ehfb-cols-layout-bigright-tablet.ehfb-cols-2 {
    grid-template-columns: 1fr 3fr;
  }
  .ehfb-row.ehfb-cols-layout-bigright-tablet.ehfb-cols-3 {
    grid-template-columns: 1fr 1fr 3fr;
  }
  .ehfb-row.ehfb-cols-layout-bigright-tablet.ehfb-cols-4 {
    grid-template-columns: 1fr 1fr 1fr 2fr;
  }
}

.ehfb-footer .ehfb-row-wrapper {
  display: flex;
  align-items: center;
}

.ehfb-footer .ehfb-row {
  gap: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .ehfb-footer .ehfb-row.ehfb-cols-2,
  .ehfb-footer .ehfb-row.ehfb-cols-3,
  .ehfb-footer .ehfb-row.ehfb-cols-4,
  .ehfb-footer .ehfb-row.ehfb-cols-5,
  .ehfb-footer .ehfb-row.ehfb-cols-6 {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
  }
}
@media (max-width: 767px) {
  .ehfb-footer .ehfb-row.ehfb-cols-2,
  .ehfb-footer .ehfb-row.ehfb-cols-3,
  .ehfb-footer .ehfb-row.ehfb-cols-4,
  .ehfb-footer .ehfb-row.ehfb-cols-5,
  .ehfb-footer .ehfb-row.ehfb-cols-6 {
    gap: 30px;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}

.ehfb-footer .ehfb-component-footer_menu .menu {
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .ehfb-footer .ehfb-component-footer_menu {
    width: 100%;
  }
}

.ehfb-column {
  display: flex;
  flex-wrap: nowrap;
}

@media (min-width: 576px) {
  .ehfb-column {
    min-width: 110px;
  }
}

.ehfb.ehfb-header .main-navigation,
.ehfb.ehfb-header .secondary-navigation,
.ehfb-mobile_offcanvas .main-navigation,
.ehfb-mobile_offcanvas .secondary-navigation {
  font-size: var(--em-font-size-header-menu, 16px);
}

.ehfb.ehfb-header .social-profile a,
.ehfb-mobile_offcanvas .social-profile a {
  margin-right: 0;
}
.ehfb.ehfb-header .social-profile a + a,
.ehfb-mobile_offcanvas .social-profile a + a {
  margin-left: 20px;
}

.ehfb.ehfb-header .ehfb-builder-item,
.ehfb-mobile_offcanvas .ehfb-builder-item {
  display: flex;
  align-items: center;
}
.ehfb.ehfb-header .ehfb-builder-item.ehfb-component-search .ws-svg-icon,
.ehfb.ehfb-header .ehfb-builder-item.ehfb-component-woo_icons .ws-svg-icon,
.ehfb-mobile_offcanvas .ehfb-builder-item.ehfb-component-search .ws-svg-icon,
.ehfb-mobile_offcanvas
  .ehfb-builder-item.ehfb-component-woo_icons
  .ws-svg-icon {
  width: auto;
  height: auto;
}

.ehfb.ehfb-header .custom-logo-link img,
.ehfb-mobile_offcanvas .custom-logo-link img {
  max-width: 100%;
}

.ehfb.ehfb-header .emoza-image.is-svg > img,
.ehfb-mobile_offcanvas .emoza-image.is-svg > img {
  width: 25px;
  height: 25px;
}

.ehfb.ehfb-header .ehfb-component-logo,
.ehfb-mobile_offcanvas .ehfb-component-logo {
  text-align: center;
}

.ehfb.ehfb-header .ehfb-component-menu,
.ehfb-mobile_offcanvas .ehfb-component-menu {
  line-height: 1;
}

.ehfb.ehfb-header .ehfb-component-search .header-search img,
.ehfb-mobile_offcanvas .ehfb-component-search .header-search img {
  max-width: 27px;
  max-height: 27px;
}

.ehfb.ehfb-header .ehfb-component-search svg,
.ehfb.ehfb-header .ehfb-component-woo_icons svg,
.ehfb.ehfb-header .ehfb-component-social svg,
.ehfb-mobile_offcanvas .ehfb-component-search svg,
.ehfb-mobile_offcanvas .ehfb-component-woo_icons svg,
.ehfb-mobile_offcanvas .ehfb-component-social svg {
  transition: ease fill 300ms;
}

.ehfb.ehfb-header
  .ehfb-component-contact_info
  .header-contact.header-contact-inline,
.ehfb-mobile_offcanvas
  .ehfb-component-contact_info
  .header-contact.header-contact-inline {
  display: flex;
}
.ehfb.ehfb-header
  .ehfb-component-contact_info
  .header-contact.header-contact-inline
  a,
.ehfb-mobile_offcanvas
  .ehfb-component-contact_info
  .header-contact.header-contact-inline
  a {
  margin-bottom: 0;
}
.ehfb.ehfb-header
  .ehfb-component-contact_info
  .header-contact.header-contact-inline
  a
  + a,
.ehfb-mobile_offcanvas
  .ehfb-component-contact_info
  .header-contact.header-contact-inline
  a
  + a {
  margin-left: 20px;
}

.ehfb.ehfb-header .ehfb-component-pll_switcher .emoza-pll-switcher,
.ehfb-mobile_offcanvas .ehfb-component-pll_switcher .emoza-pll-switcher {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.ehfb.ehfb-header .ehfb-component-pll_switcher .emoza-pll-switcher li,
.ehfb-mobile_offcanvas .ehfb-component-pll_switcher .emoza-pll-switcher li {
  padding-bottom: 0;
}
.ehfb.ehfb-header .ehfb-component-pll_switcher .emoza-pll-switcher li a,
.ehfb-mobile_offcanvas .ehfb-component-pll_switcher .emoza-pll-switcher li a {
  display: flex;
  align-items: center;
}
.ehfb.ehfb-header .ehfb-component-pll_switcher .emoza-pll-switcher li + li,
.ehfb-mobile_offcanvas
  .ehfb-component-pll_switcher
  .emoza-pll-switcher
  li
  + li {
  margin-left: 20px;
}

.ehfb.ehfb-header .ehfb-component-login_register .header-login-register > a,
.ehfb-mobile_offcanvas
  .ehfb-component-login_register
  .header-login-register
  > a {
  padding: 0;
}

.ehfb-mobile_offcanvas .mobile-menu-close {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 23px;
  top: 26px;
  z-index: 10;
}

.ehfb-mobile_offcanvas .container {
  padding: 0;
  max-width: none;
}

.ehfb-mobile_offcanvas .mobile-header-item {
  margin-bottom: 0;
}

.ehfb-mobile_offcanvas .ehfb-mobile-offcanvas-col {
  flex-direction: column;
}

.ehfb-mobile_offcanvas .ehfb-builder-item {
  width: 100%;
}
.ehfb-mobile_offcanvas .ehfb-builder-item + .ehfb-builder-item {
  margin-left: 0;
}
.ehfb-mobile_offcanvas .ehfb-builder-item + .ehfb-builder-item .header-item {
  margin-top: 0 !important;
}

.ehfb-mobile_offcanvas .ehfb-component-pll_switcher .emoza-pll-switcher {
  flex-direction: column;
}
.ehfb-mobile_offcanvas
  .ehfb-component-pll_switcher
  .emoza-pll-switcher
  li
  + li {
  margin-left: 0px;
}

/* Components */
.ehfb-component-woo_icons .header-item {
  margin-right: var(--em-ehfb-woo-icons-gap, 25px);
}

.ehfb-component-widget1,
.ehfb-component-widget2,
.ehfb-component-widget3,
.ehfb-component-widget4 {
  width: 100%;
}

/* Sticky Header Row */
@media (min-width: 1025px) {
  .ehfb.ehfb-header.has-sticky-header.sticky-row-all {
    position: fixed;
    width: 100%;
    top: 0;
    max-width: inherit;
  }
  .ehfb.ehfb-header.has-sticky-header.sticky-row-all.sticky-scrolltop {
    position: absolute;
  }
  body.emoza-site-layout-padded
    .ehfb.ehfb-header.has-sticky-header.sticky-row-all {
    top: var(--emoza_padded_spacing, 25px);
    left: 0;
  }
  body.emoza-site-layout-padded
    .ehfb.ehfb-header.has-sticky-header.sticky-row-all.sticky-scrolltop {
    top: 0;
  }
  body.emoza-site-layout-padded.admin-bar
    .ehfb.ehfb-header.has-sticky-header.sticky-row-all {
    top: calc(var(--emoza_padded_spacing, 25px) + 32px);
  }
  body.emoza-site-layout-padded.admin-bar
    .ehfb.ehfb-header.has-sticky-header.sticky-row-all.sticky-scrolltop {
    top: 0;
  }
  body.sticky-header-active {
    /* Scrolltop effect */
  }
  body.sticky-header-active
    .ehfb.ehfb-header.has-sticky-header.sticky-row-all.sticky-scrolltop {
    position: fixed;
  }
  body.sticky-header-active
    .ehfb.ehfb-header.has-sticky-header.sticky-row-main-header-row {
    position: fixed;
    width: 100%;
    top: 0;
  }
  body.sticky-header-active
    .ehfb.ehfb-header.has-sticky-header.sticky-row-below-header-row {
    position: fixed;
    width: 100%;
    top: 0;
  }
  body.sticky-header-active
    .ehfb.ehfb-header.has-sticky-header.sticky-scrolltop {
    transition: ease transform 300ms 200ms;
  }
  body.sticky-header-active .ehfb.ehfb-header.ehfb-no-transition {
    transition: none !important;
  }
  body.sticky-header-active.emoza-scrolling-down
    .ehfb.ehfb-header.sticky-scrolltop {
    transform: translate3d(0, -100%, 0);
  }
  body.sticky-header-active.emoza-site-layout-boxed.single-post
    .content-wrapper {
    margin-top: 0;
    padding-top: 120px;
  }
  body.sticky-header-active.emoza-site-layout-boxed.page:not(
      .emoza-page-builder-mode
    )
    .content-wrapper,
  body.sticky-header-active.emoza-site-layout-boxed.single-product
    .content-wrapper {
    margin-top: 0;
    padding-top: 80px;
  }
  body.sticky-header-active.emoza-site-layout-boxed
    .ehfb.ehfb-header.has-sticky-header.sticky-row-all,
  body.sticky-header-active.emoza-site-layout-boxed
    .ehfb.ehfb-header.has-sticky-header.sticky-row-main-header-row,
  body.sticky-header-active.emoza-site-layout-boxed
    .ehfb.ehfb-header.has-sticky-header.sticky-row-below-header-row {
    max-width: inherit;
  }
  body.sticky-header-active.emoza-site-layout-boxed
    .ehfb.ehfb-header.has-sticky-header.sticky-row-main-header-row {
    left: 50%;
    max-width: inherit;
    transform: translate3d(-50%, 0, 0);
  }
  body.sticky-header-active.emoza-site-layout-boxed
    .ehfb.ehfb-header.ehfb-no-transition {
    transition: none !important;
  }
  body.sticky-header-active.emoza-site-layout-boxed.emoza-scrolling-down
    .ehfb.ehfb-header.has-sticky-header.sticky-row-main-header-row.sticky-scrolltop {
    transform: translate3d(-50%, -100%, 0);
  }
  body.sticky-header-active.emoza-site-layout-padded:not(.header-transparent)
    .site {
    margin-top: 0 !important;
  }
  body.sticky-header-active.emoza-site-layout-padded:not(
      .header-transparent
    ).single-post
    .content-wrapper {
    margin-top: 0;
    padding-top: 120px;
  }
  body.sticky-header-active.emoza-site-layout-padded:not(
      .header-transparent
    ).page:not(.emoza-page-builder-mode)
    .content-wrapper,
  body.sticky-header-active.emoza-site-layout-padded:not(
      .header-transparent
    ).single-product
    .content-wrapper {
    margin-top: 0;
    padding-top: 80px;
  }
  body.sticky-header-active.emoza-site-layout-padded
    .ehfb.ehfb-header.has-sticky-header {
    max-width: calc(100% - var(--emoza_padded_spacing, 25px) * 2);
    left: var(--emoza_padded_spacing, 25px) !important;
  }
  body.sticky-header-active.emoza-site-layout-padded
    .ehfb.ehfb-header.has-sticky-header.sticky-row-all {
    left: auto !important;
  }
  body.sticky-header-active.emoza-site-layout-padded
    .ehfb.ehfb-header.has-sticky-header.sticky-row-all.sticky-scrolltop {
    top: var(--emoza_padded_spacing, 25px);
  }
  body.sticky-header-active.emoza-site-layout-padded.admin-bar
    .ehfb.ehfb-header.has-sticky-header.sticky-row-all {
    left: auto;
  }
  body.sticky-header-active.emoza-site-layout-padded.admin-bar
    .ehfb.ehfb-header.has-sticky-header.sticky-row-all.sticky-scrolltop {
    top: calc(var(--emoza_padded_spacing, 25px) + 32);
  }
  /* Admin Bar */
  .admin-bar .ehfb.ehfb-header.has-sticky-header.sticky-row-all {
    top: 32px;
  }
  .admin-bar.sticky-header-active
    .ehfb.ehfb-header.has-sticky-header.sticky-row-main-header-row {
    top: 32px;
  }
  .admin-bar.sticky-header-active
    .ehfb.ehfb-header.has-sticky-header.sticky-row-below-header-row {
    top: 32px;
  }
}
